body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevents horizontal scrolling */
}


.header-section{
  top: 0;
  display: flex;
  flex-direction: row;
  width: 100vw;
  /* max-width: 100vw; */
  height: 70px;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  background-color: white;
   font-family: "Inter", serif;
   padding: 20px 16px;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.header-logo img{
  width: 160px;
  height: 69px;
}

.header-navlinks{
  display: flex;
  gap: 45px;
}

.header-navlinks a{
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 500;
}

.header-navlinks a:hover{
  text-decoration: underline;
  
}

.hamburger {
  display: none; 
  font-size: 24px;
  cursor: pointer;
}

@media (max-width: 768px){
  body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevents horizontal scrolling */
  }
  .header-section{
    width: 100vw;
    /* max-width: 100vw; */
    justify-content: flex-start;
    gap: 80%;
    height: auto;
    
    
  }
  .header-logo img{
    width: 90px;
    height: auto;
  }
  .header-navlinks{
    display: none;
  }
  .hamburger {
    display: block;
    font-size: 24px;
    cursor: pointer;
  }
  .header-navlinks.open {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 70px;
    right: 30px;
    background-color: white;
    width: 100%;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
  }

}