.header-section{
  background-color: white;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
  padding: 10px 0px;
  position: fixed;
  width: 100vw;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.header-logo{
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.logo{
  width: 320px;
  height: 115px;
  cursor: pointer;
}
.hamburger{
  display: none;
}
.header-nav-section{
  display: flex;
  flex-grow: 2;
  justify-content: flex-end;
}
.header-navlinks{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 400px;
}
.header-navlinks a{
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 500;
}
.header-navlinks a:hover{
  text-decoration: underline;
}

@media (max-width: 768px){
  .header-section{
    background-color: white;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
    padding: 10px 0px;
    position: fixed;
    width: 100vw;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .header-logo{
    display: flex;
    flex-grow: 1;
    align-items: center;
  }
  .logo{
    width: 215px;
    height: 78px;
  }
  .hamburger {
    display: block;
    font-size: 24px;
    cursor: pointer;
    margin-right: 15px;
  }
  /* .header-nav-section{
    display: flex;
    flex-grow: 2;
    justify-content: flex-end;
  } */
   .header-navlinks{
    display: none;
   }
  .header-navlinks.open{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    background-color: white;
    top: 90px;
    right: 0;
    width: 100%;
    padding-right: 15px;
    height: 120px;
    /* justify-content: space-around; */
    /* width: 400px; */
  }
  .header-navlinks.open a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 500;
  }
  
  .header-navlinks.open a:hover{
    text-decoration: underline;
    
  }
}