.software-services-section{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 815px;
  background-image: url('../images/Home-1\ bg.png');
  background-color: #1a1b1c;
  background-size:cover;
  background-repeat: no-repeat;
  color: white;
  font-family:"Open Sans", sans-serif;
  padding-top: 100px;
}

.software-services-section p{
  font-size: 16px;
  line-height: 1.2; 
  max-width: 600px;
  text-align: center;
  margin-top: 1px;
}

.software-services-section h1{
  font-size: 64px;
  line-height: 1.2;
  max-width: 800px;
  text-align: center;
  margin-top: 80px;
}

.software-services-section button{
  width: 194px;
  height: 56px;
  background-color: transparent;
  border-width: 1px;
  border-color: white;
  border-style: solid;
  border-radius: 50px;
  color: white;
  font-size: 18px;
  margin-top: 50px;
  cursor: pointer;
}

.stickercard-section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 70px;
}

.card{
  text-align: center;
  line-height: 1.2; /* Controls the space between lines */
  max-width: 390px;
  height: 170px;
  padding: 10px 15px;
  border: none;
  background-color: #282829;
  margin-left: 20px;
}

.quality-service-section{
  display: flex;
  flex-direction: column;
  background-color: #f5eddc;
  justify-content: space-around;
  align-items: center;
  padding: 100px 0px;
  font-family: "Open Sans", sans-serif;
}
.quality-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  
}
.quality-info h1{
  font-size: 48px;
  margin: 0;
}
.quality-info p{
  
  max-width: 600px;
  text-align: center;
  margin-bottom: 70px;
}

.quality-details-section{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 100px;
}
.quality-details-image img{
  width: 615px;
  height: 440px;
}

.quality-details{
  display: flex;
  flex-direction: column;
}
.quality-details-info{
  margin-bottom: 30px;
}
.quality-details-info h2{
  font-size: 18px;
  margin-bottom: 5px;
}
.quality-details-info p{
  max-width: 400px;
  margin: 0;
}

.aboutus-section{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #fcfbf5;
  padding: 70px 0px;
}

.aboutus-details{
  max-width: 350px;
  font-family: "Open Sans", sans-serif;
}
.aboutus-details h1{
  font-size: 48px;

}
.aboutus-details p{
  text-align: left;
}

.aboutus-image img{
  width: 400px;
  height: 465px;
}

.Contactus-section{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 70px 0px;
}
.Contactus-details-section{
  max-width: 450px;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
}
.Contactus-details h1{
  font-size: 48px;
  margin-bottom: 10px;
}
.Contactus-email{
  text-align: left;
  
}


.form-section{
  display: flex;
  flex-direction: column;
  
}
.form-section label{
  font-size: 14px;
  margin-bottom: 5px;
}
.form-section input{
  border-radius: 15px;
  border-style: solid;
  border-color: #b8c0cc;
  padding-left: 10px;
  width: 500px;
  height: 47px;
  margin-bottom: 15px;
}
.form-section input[type=text]{
  border-radius: 15px;
  border-color: #b8c0cc;
  border-style: solid;
  padding-left: 10px;
  width: 500px;
  height: 96px;
  margin-bottom: 15px;
  text-align: start;
}
.form-section button{
  width: 250px;
  height: 52px;
  border: none;
  border-radius: 50px;
  color: white;
  background-color: #425b70;
}


@media(max-width:768px){
  .software-services-section{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 1515px;
    background: none;
    background-color: #1f1f20;
    color: white;
    font-family:"Open Sans", sans-serif;
    padding-top: 100px;
  }
  .software-services-section h1{
    font-size: 48px;
    line-height: 1.2;
    max-width: 600px;
    text-align: center;
    margin-top: 80px;
  }
  .software-services-section p{
    font-size: 14px;
    line-height: 1.2; 
    max-width: 400px;
    text-align: center;
    margin-top: 1px;
  }
  .software-services-section button{
    width: 174px;
    height: 46px;
    background-color: transparent;
    border-width: 1px;
    border-color: white;
    border-style: solid;
    border-radius: 50px;
    color: white;
    font-size: 18px;
    margin-top: 50px;
  }
  .stickercard-section{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
  }
  .card{
    text-align: center;
    line-height: 1.2; /* Controls the space between lines */
    max-width: 390px;
    height: 170px;
    padding: 10px 15px;
    border: none;
    background-color: #282829;
  }
  .quality-service-section{
    display: flex;
    flex-direction: column;
    background-color: #f5eddc;
    justify-content: space-around;
    align-items: center;
    padding: 100px 0px;
    font-family: "Open Sans", sans-serif;
  }
  .quality-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    
  }
  .quality-info h1{
    font-size: 40px;
    margin: 0;
  }
  .quality-info p{
    max-width: 450px;
    text-align: center;
    margin-bottom: 70px;
  }
  .quality-details-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
  }
  .quality-details-image img{
    width: 415px;
    height: 340px;
  }
  
  .quality-details{
    display: flex;
    flex-direction: column;
  }
  .quality-details-info{
    margin-bottom: 30px;
    /* text-align: center; */
  }
  .quality-details-info h2{
    font-size: 18px;
    margin-bottom: 5px;
  }
  .quality-details-info p{
    max-width: 400px;
    margin: 0;
  }
  .aboutus-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    background-color: #fcfbf5;
    padding: 70px 0px;
  }
  
  .aboutus-details{
    max-width: 400px;
    font-family: "Open Sans", sans-serif;
    text-align: center;
  }
  .aboutus-details h1{
    font-size: 40px;
  }
  .aboutus-details p{
    text-align: center;
  }
  .aboutus-image img{
    width: 380px;
    height: 415px;
  }
  .Contactus-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    padding: 70px 0px;
  }
  .Contactus-details-section{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    font-family: "Open Sans", sans-serif;
    text-align: center;
  }
  .Contactus-details h1{
    font-size: 40px;
    margin-bottom: 10px;
  }
  .Contactus-email{
    text-align: center;
  }
  .form-section{
    display: flex;
    flex-direction: column;
    
  }
  .form-section label{
    font-size: 14px;
    margin-bottom: 5px;
  }
  .form-section input{
    border-radius: 15px;
    border-style: solid;
    border-color: #b8c0cc;
    padding-left: 10px;
    width: 500px;
    height: 47px;
    margin-bottom: 15px;
  }
  .form-section input[type=text]{
    border-radius: 15px;
    border-color: #b8c0cc;
    border-style: solid;
    padding-left: 10px;
    width: 500px;
    height: 96px;
    margin-bottom: 15px;
    text-align: start;
  }
  .form-section button{
    width: 250px;
    height: 52px;
    border: none;
    border-radius: 50px;
    color: white;
    background-color: #425b70;
  }
}

@media(max-width:460px){
  .software-services-section{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 1515px;
    background: none;
    background-color: #1f1f20;
    color: white;
    font-family:"Open Sans", sans-serif;
    padding-top: 100px;
  }
  .software-services-section h1{
    font-size: 40px;
    line-height: 1.2;
    max-width: 500px;
    text-align: center;
    margin-top: 80px;
  }
  .software-services-section p{
    font-size: 16px;
    line-height: 1.2; 
    max-width: 400px;
    text-align: center;
    margin-top: 1px;
  }
  .software-services-section button{
    width: 174px;
    height: 46px;
    background-color: transparent;
    border-width: 1px;
    border-color: white;
    border-style: solid;
    border-radius: 50px;
    color: white;
    font-size: 18px;
    margin-top: 50px;
  }
  .stickercard-section{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
  }
  .card{
    text-align: center;
    line-height: 1.2; /* Controls the space between lines */
    max-width: 330px;
    height: 150px;
    padding: 10px 10px;
    border: none;
    background-color: #282829;
  }
  .quality-service-section{
    display: flex;
    flex-direction: column;
    background-color: #f5eddc;
    justify-content: space-around;
    align-items: center;
    padding: 100px 15px;
    font-family: "Open Sans", sans-serif;
  }
  .quality-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    text-align: center;
  }
  .quality-info h1{
    font-size: 40px;
    margin: 0;
  }
  .quality-info p{
    max-width: 450px;
    text-align: center;
    margin-bottom: 70px;
  }
  .quality-details-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
  }
  .quality-details-image img{
    width: 415px;
    height: 340px;
  }
  
  .quality-details{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .quality-details-info{
    margin-bottom: 30px;
    /* text-align: center; */
  }
  .quality-details-info h2{
    font-size: 18px;
    margin-bottom: 5px;
  }
  .quality-details-info p{
    max-width: 400px;
    margin: 0;
  }
  .aboutus-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    background-color: #fcfbf5;
    padding: 70px 0px;
  }
  
  .aboutus-details{
    max-width: 400px;
    font-family: "Open Sans", sans-serif;
    text-align: center;
  }
  .aboutus-details h1{
    font-size: 40px;
  }
  .aboutus-details p{
    text-align: center;
  }
  .aboutus-image img{
    width: 380px;
    height: 415px;
  }
  .Contactus-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    padding: 70px 0px;
  }
  .Contactus-details-section{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    font-family: "Open Sans", sans-serif;
    text-align: center;
  }
  .Contactus-details h1{
    font-size: 36px;
    margin-bottom: 10px;
  }
  .Contactus-details p{
    font-size: 15px;
  }
  .Contactus-email{
    text-align: center;
  }
  .form-section{
    display: flex;
    flex-direction: column;
    
  }
  .form-section label{
    font-size: 14px;
    margin-bottom: 5px;
  }
  .form-section input{
    border-radius: 15px;
    border-style: solid;
    border-color: #b8c0cc;
    padding-left: 10px;
    width: 300px;
    height: 37px;
    margin-bottom: 15px;
  }
  .form-section input[type=text]{
    border-radius: 15px;
    border-color: #b8c0cc;
    border-style: solid;
    padding-left: 10px;
    width: 300px;
    height: 96px;
    margin-bottom: 15px;
    text-align: start;
  }
  .form-section button{
    width: 200px;
    height: 42px;
    border: none;
    border-radius: 50px;
    color: white;
    background-color: #425b70;
  }
}